//- Reference: https://freefrontend.com/html-css-404-page-templates/
//- Author: Manaswini

link(rel="stylesheet", href="/css/404.css")
title Không tìm thấy trang | CP Payment System

.container
  h1.first-four 4
  .cog-wheel1
    .cog1
      .top
      .down
      .left-top
      .left-down
      .right-top
      .right-down
      .left
      .right
  .cog-wheel2
    .cog2
      .top
      .down
      .left-top
      .left-down
      .right-top
      .right-down
      .left
      .right
  h1.second-four 4

p.wrong-para Xin lỗi ! Trang không tìm thấy hoặc đang xảy ra xử cố. #[a(href="/") Về Trang chủ]