extends ./templates/general.template.pug

block append style 
  link(rel="stylesheet", href="/css/fake-payment-checkout.css")

block title 
  title Thanh toán XYZ.com

block bootstrapIcon

block header 

block content 
  .container.my-5 
    .box.mx-auto.pt-3.pb-5.px-4
      .header.mb-3
        img(src="/images/favicon.ico  ", alt="PayCP", title="Hệ thống thanh toán cho Covid Project")

      table.table
        thead.thead-dark
          tr
            th(scope="col") Mã giao dịch
            th(scope="col") Tổng tiền
            th(scope="col") Phí giao dịch
            th(scope="col") Nội dung
        tbody
          tr.bg-light 
            td 78919124
            td 100.000đ
            td Miễn phí
            td Nạp tiền vào tài khoản

      .box-container
        h1.title.text-center.mb-3 Thanh toán Online bằng thẻ ATM/ Internet Banking

        .flex-center.mb-4
          img.bank-logo.mr-3(src="https://res.cloudinary.com/dsxlwpobo/image/upload/v1641280941/covid-project/paycp/banks/Agribank.png", alt="Photo")
          span.bank-name Eximbank - Xuất nhập khẩu

        form(action="/", method="POST")
          .form-group.row
            label.col-sm-4.col-form-label(for="cardNumber") Số thẻ ATM #[span.required (*)]
            .col-sm-8
              input.form-control#cardNumber(type="text", name="cardNumber", required)
          .form-group.row
            label.col-sm-4.col-form-label(for="cardAuthor") Tên chủ thẻ #[span.required (*)]
            .col-sm-8
              input.form-control#cardAuthor(type="text", required, style="text-transform:uppercase")
          .form-group.row
            label.col-sm-4.col-form-label(for="month") Ngày hết hạn #[span.required (*)]
            .col-sm-4.mb-3.mb-sm-0
              select.form-control#monthExp(name="monthExp", required)
                option(value="", hidden, selected, disabled) Tháng 
                each m, index in new Array(12).fill(1)
                  option(value=index+1) Tháng #{index + 1} 

            .col-sm-4
              select.form-control#yearExp(name="yearExp", required)
                option(value="", hidden, selected, disabled) Năm
                each y, index in new Array(50).fill(1)
                  option(value=2000+index) Năm #{2000 + index} 
          .form-group.row
            label.col-sm-4.col-form-label(for="captcha") Mã bảo mật #[span.required (*)]
            .col-sm-6.mb-3.mb-sm-0
              input.form-control#captcha(type="text", required) 
            .col-sm-2
              img.captcha-img(src="/images/captcha.png", alt="Captcha")
            .col-sm-4 
            p.col-sm-8.captcha-msg (Xác nhận Captcha để tiến hành thanh toán)
          .row
            .col-sm-4 
            .col-sm-5.mb-3.mb-sm-0
              button.btn.btn-info.w-100(type="submit") Thanh toán
            .col-sm-3
              button.btn.btn-secondary.w-100 Huỷ bỏ

block footer
