body {
	background-color: #f5f7fa;
}

.form-box {
	background-color: #fff;
	box-shadow: var(--box-shadow);
	border-radius: 12px;
	margin: 0 auto;
}

.form-title {
	color: var(--dark);
}

.form-control {
	background-color: #fff !important;
	color: var(--gray-dark) !important;
}
