doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
    block title
      title #{title || "PayCP"}

    //- Font: Montserrat
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap", rel="stylesheet")

    block style
      //- bootstrap 4.6
      link(rel="stylesheet", href="/vendors/bootstrap/bootstrap.min.css")

      //- My global css
      link(rel="stylesheet", href="/css/common.css")

    block bootstrapIcon
      //- bootstrap icon - cdn
      link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css")

  body
    block content

    block script
      script(src="/vendors/jquery.min.js")
      script(src="/vendors/bootstrap/bootstrap.min.js")
      script(src="/js/common.js")
